div /deep/ .el-table {
  padding: 0 !important;
  height: 30px;
  line-height: 30px;
}
.el-table__body-wrapper th,
.el-table__body-wrapper td {
  padding: 0 !important;
  height: 30px;
  line-height: 30px;
}
.el-table__header tr,
.el-table__header th {
  padding: 0 !important;
  height: 30px;
}
.el-table__body tr,
.el-table__body td {
  padding: 0 !important;
  height: 30px;
}
.el-table__body tr .el-divider,
.el-table__body th .el-divider {
  margin: 0 10px !important;
  background-color: skyblue;
}
